.c-layout-content {
    height: calc(100vh - 5rem) !important;
    overflow: auto;
    padding: 7rem 1rem 1rem 2rem;
}

@media screen and (max-width: 991px) {
    .c-layout-content {
        border-top-right-radius: 30px;
        height: calc(100vh - 9rem);
        padding: 7rem 1rem 1rem 1rem;
    }
}

.card {
    background: var(--surface-card);
    padding: 1rem 2rem; 
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 1px solid var(--arcadisColor);
}

#book-trip-button-text {
    margin-left: 30%;
}

#check-trip-button-text {
    margin-left: 5%;
}

#terms-div {
    margin: auto;
    width: 60%;
    margin-top: 0.5em;
    font-size: 2em;
}

#terms-div p {
    margin: 0;
}